body{
    background: url('../img/administracion.jpg');
    background-repeat: no-repeat, repeat;
    background-position: center;
}

.mtop{
   margin-top: 25%;
}

.center{
    text-align: center;
}

.bnt_ingreso{
    width: 215px;
    background: #2f8683;
}